.header {
    width: 100%;
    max-width:1200px;
    padding: 20px;
    ul {
        float: right;
        list-style: none;
        li {
            display: inline;
            margin: 0 10px 0;
        }
    }

} 