.header {
    width: 100%;
    padding: 20px;
    background: transparent;

    position: fixed;
    z-index: 10;
    .container {
        margin: 0 auto;
        max-width: 1200px;
        justify-content: space-between;
        display: flex;
    }
    a {
        color: white;
    }
    .logo {
        width: auto;
        color: white;
        font-weight: bolder;
        letter-spacing: 3px;
        font-family: 'Major Mono Display', monospace;
    }
    ul {
        float: right;
        text-align: right;
        margin-bottom: 0;
        list-style: none;
        font-family: 'Nunito', sans-serif; li {
            display: inline;
            letter-spacing: 2px;
            margin: 0 10px 0 10px;
        }
    }

} 